*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2E3440;
}
.ascii-art {
    font-family: monospace;
    white-space: pre;
    color: #EBCB8B;
}
h1{
    font-size: 26px;
    color: #88C0D0;
}

ul{
    font-size: 20px;
    color: #ECEFF4;
}
